/* DashboardComponent's private CSS styles */
.grid {
    margin: 0;
    .module {
        padding: 20px;
        text-align: center;
        color: $gray-200;
        max-height: 120px;
        min-width: 120px;
        background-color: $green-200;
        border-radius: 2px;
        &:hover {
            background-color: $gray-200;
            cursor: pointer;
            color: $green-100;
        }
    }
    .grid-pad {
        padding: 10px 0;
        > [class*='col-']:last-of-type {
            padding-right: 20px;
        }
    }
    @media (max-width: 600px) {
        font-size: 10px;
        max-height: 75px;
    }
    @media (max-width: 1024px) {
        .module {
            min-width: 60px;
        }
    }
}
